@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&family=Open+Sans:ital@1&family=Oswald:wght@300;400&display=swap');

* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: black;
    color:white;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ec8721' fill-opacity='0.1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none; 
}

.container {
    width: 90%;
    margin: auto;
}

/* NAVEGACIÓN */
.navegaciónTotal {
    font-size: 17px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 60px;
    padding: 20 px;
}
.nav-img {
    width: 170px;
    padding-top: 5px;
}

.navegaciónTotal ul {
    display: flex;

}
.navegaciónTotal ul li {
    padding: 10px;
}
.navegaciónTotal ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

.navegaciónTotal ul li a {
   padding: 1px;
}

/* NAVEGACIÓN izquierda*/
.navegaciónTotal ul.nav-izquierda {
    flex: 1;           
    margin-left: 20px;
}

.botón-nav {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

/* NOTICIA */

hr {
    margin: 2px;
}


.Centro {
    width: 100%;
    height: 550px;
    background: url('https://i.pinimg.com/originals/b9/2b/f3/b92bf3227a82488cc7dde89532ea13bd.gif') no-repeat center center/cover;
    margin-top: 20px;      
    margin-bottom: 20px;      
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.botón {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: solid 1px #ffffff;
    margin: 10px 0;    
}
.botón:hover {
    opacity: .9;
}
.Centro h2, p {
    margin: 10px;
    color: rgb(212, 116, 25);
    background: black;
   
}


/* BANNER 1 */
.Banner1 {
    width: 100%;
    height: 450px;
    background: url('./img/anuncio.jpg') no-repeat center center/cover;
    margin-bottom: 40px;
}
.Banner1 .contenido {
    width: 50%;
    padding: 100px 0 0 30px;
}

.Banner1 .contenido p {
    background: none;
    color: #ffffff;
}
.Banner1 .contenido h2 {
    padding-top: 80px;
}

/* BANNER 2 */
.Banner2 {
    width: 100%;
    height: 450px;
    background: url('./img/BER.jpeg') no-repeat center center/cover;
    margin-bottom: 40px;
}
.Banner2 .contenido {
    width: 50%;
    padding: 100px 0 0 30px;
}

.Banner2 .contenido p {
    background: none;
    color: #ffffff;
}
.Banner2 .contenido h2 {
    padding-top: 80px;
}

/* social */
.social {
    margin: 50px;
}
.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color:#ffffff;
}
.link {
    display: flex;
    align-items: center;
    justify-content: center;   
}     
.link a {
    margin: 0 30px;
}
.link a i {
    font-size: 3rem;
}

/* FOOTER */
.footer-links {
    background: #2f3640;
    color: white;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.5;
    
}
.footer-container i {
    font-size: 15px;
}

.footer-links h3 {
    color: #616161;
}

.footer {
    background: #2f3640;
    color: #616161;
    font-size: 13px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 80px;
   
}


@media (max-width: 700px) {
   
    .botón-nav {
        display: block;
    }
    .navegaciónTotal ul.nav-izquierda {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .navegaciónTotal ul.nav-izquierda.show {
        transform: translateX(-20px);
    }

    .navegaciónTotal ul.nav-izquierda li {
        padding: 20px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;

    }

    .navegaciónTotal ul.nav-derecha {
        margin-right: 40px;

    }


    .animesFREE {
        grid-template-columns: repeat(2, 1fr);
    }
    .animesPOPULARES {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .Banner2 .contenido
    .Banner1 .contenido
    {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr) ;
    }

}

@media (min-width: 500px) {
    
    .animesFREE {
        grid-template-columns: repeat(1, 1fr);
    }
    .animesFREE img {
        height: 270px;
    }
    .animesPOPULARES {
        grid-template-columns: repeat(1, 1fr);
    }
    .animesPOPULARES img {
        height: 270px;
    }
    
    .Banner2 .contenido
    .Banner1 .contenido
    {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }

}








